body {
    background-color: black;
}

.container {
    margin-top: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: white;
    font-size: xx-large;
    text-align: center;
    float: initial;

    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 24ch;

    animation: typing 3s steps(24),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent }
}